/* Created by Mars on Aug 11 */
@import "global";
@import "header";
@import "footer";
@import "menu";

.hero {
  height: 250px;

  h1 {
    padding-top: 100px;
    text-align: center;
  }
}

.main {
  display: flex;
  margin-bottom: 120px;
  padding-top: 150px;
  min-height: 800px;

  .left-div, .right-div {
    width: 50%
  }
}

ul.actions {
  margin-top: 120px;
  padding-left: 0;

  li {
    margin: 25px 0;
    list-style: none;
    font-size: 1.1rem;
    color: #360400;

    img {
      width: 45px;
      padding-right: 12px;
    }
  }
}

form {
  h3 {
    font-size: 1.5rem;
    margin-bottom: 25px;
  }

  input, textarea {
    display: block;
    width: 100%;
    padding: 0 12px;
  }

  textarea {
    padding-top: 6px;
  }

  input {
    height: 50px;
  }

  .required::before {
    color: rgba(224, 69, 95, 1);
    content: '* ';
  }

  .line {
    margin: 12px 0;
  }

  label {
    color: #555;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: bolder;
    letter-spacing: .18rem;
  }

  .full {
    width: 100%;
  }

  .two {
    display: flex;
  }

  .left {
    width: calc(50% - 10px);
    margin-right: 20px;
  }

  .right {
    width: calc(50% - 10px);
  }

  #submit {
    width: 150px;
    height: 40px;
    font-size: .8rem;
    letter-spacing: .1rem;
    font-weight: bold;
    margin-top: 50px;
  }
}

@media (max-width: 1201px) {
  .main {
    .left-div {
      width: calc(100% - 560px);
    }

    .right-div {
      width: 555px
    }
  }
}

@media (max-width: 992px) {
  .main {
    display: block;

    .left-div {
      width: 100%;

      ul.actions {
        margin-top: 25px;
      }
    }

    .right-div {
      width: 100%;
      margin-top: 50px;
    }
  }

  form {
    .two {
      display: block;
    }

    .left, .right {
      width: 100%;
      margin: 12px 0;
    }
  }
}