/* Created by Mars on Jul 31 */
@import "global";
@import "header";
@import "footer";
@import "menu";

// HERO
.hero {
  margin-top: 70px;
  padding-bottom: 150px;
  box-sizing: border-box;
  position: relative;

  @media screen and (max-width: 1195px) {
    padding-bottom: 0;
  }

  .left {
    padding-top: 50px;

    .top {
      max-width: 650px;
      margin-bottom: 30px;
      font-weight: bold;
      font-size: 1.2rem;
    }

    .content {
      max-width: 600px;
      font-size: 1.1rem;
      text-align: justify;
      color: #444;
    }

    h2 {
      font-weight: lighter;
      line-height: 1.3;
    }
  }

  .buttons {
    margin-top: 50px;
  }

  .buttons button {
    margin-right: 20px;
  }

  .right img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 850px;
    z-index: -1;

    @media screen and (max-width: 1195px) {
      position: relative;
      text-align: right;
      margin-left: auto;
      display: inherit;
    }
  }
}

// FEATURES
.features {
  padding: 0 0 40px;

  .cards {
    display: flex;
    justify-content: space-between;
  }

  .card {
    border-radius: 0;
    margin: 0 25px;
    max-width: 300px;
    height: 400px;
    position: relative;

    img {
      border-radius: 0;
    }

    .content {
      padding-left: 10px;
    }

    .btn {
      position: absolute;
      bottom: 25px;
    }
  }
}

/* PREVIEW */
@import "index_show";

/* CREATORS */

.people {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.person {
  img {
    width: 150px;
    border-radius: 100%;
    margin-bottom: 35px;
  }

  .name {
    margin: 0;
    font-weight: bolder;
    text-align: center;
  }

  .info {
    font-style: italic;
    text-align: center;
    font-size: .8rem;
  }
}

/* QUOTES */

.quotes {
  background-color: #cd5257;
  text-align: center;
  color: white;

  .section-title {
    padding-bottom: 12px;
  }

  .quotes-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 75px 0;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .quote {
    width: calc(50% - 20px);
    margin: 30px 0;

    @media screen and (max-width: 991px) {
      width: 100%;
      max-width: 400px;
      margin: 20px auto;
    }

    .quote__box {
      background-color: #fff;
      padding: 30px 25px;
      color: black;
      margin-bottom: 30px;
      border-radius: 10px;
      position: relative;

      p {
        margin: 0;
      }

      $size: 10px;

      &::after {
        content: '';
        width: 0;
        height: 0;
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid white;
        position: absolute;
        bottom: -$size;
        left: calc(50% - #{$size});
      }
    }

    .quote__img {
      display: none;
    }

    .quote__img img {
      width: 70px;
      display: block;
      margin: 0 auto;
      border-radius: 100%;
    }

    .quote__text {
      margin-top: 25px;

      p.quote__text__name {
        margin: 0;
        font-weight: bold;
      }

      p.quote__text__title {
        margin: 0;
        font-size: .8rem;
        font-style: italic;
      }
    }
  }
}

/* FAQ */

.faq-one {
  display: grid;
  margin-bottom: 20px;
  justify-content: space-between;
  grid-template-columns: 1fr 1.3fr;

  .q {
    padding-right: 20px;
    font-weight: bold;
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .features .inner-container {
    margin: 0;
  }
}

@media screen and (max-width: 991px) {
  .hero {
    display: block;

    .right img {
      width: 100%;
    }
  }

  .features .card {
    margin: 0 5px;
  }

}


@media screen and (max-width: 767px) {
  .features .cards {
    margin: 0 5px;
    display: block;

    .card {
      width: 100%;
      margin: 25px auto;
    }
  }

  .people {
    margin-top: 0;
    display: block;
  }

  .person {
    max-width: 200px;
    margin: 25px auto;
    text-align: center;

    img {
      width: 125px;
      margin: 0 auto 10px;
    }

    .name {
      margin: 0;
      text-align: center;
    }

    .info {
      font-size: .7rem;
      text-align: center;
    }
  }

  .faq-one {
    display: block;
    margin-bottom: 25px;
    border-bottom: 1px solid #ddd;

    .q {
      margin-right: 0;
    }

    .a {
      width: 100%;
    }
  }

}
