/* Created by Mars on Jul 31 */
@import "global";
@import "header";
@import "footer";
@import "menu";
@import "animation";


.logo-header {
  background-color: unset;

  .container > a {
    display: none;
  }

  .menu {
    margin-left: auto;

    li {
      &:hover::after {
        border-bottom-color: $primary-color;
      }

      a {
        color: $primary-color;
      }
    }
  }

  transition: .4s;
  transition-timing-function: cubic-bezier(.65, 0, .29, .99);

  &.fixed {
    position: fixed;
    top: -100px;
    width: 100%;
    z-index: 100;
  }

  &.show {
    top: 0;
  }
}

$hero-bg-color: #faf8f5;

// HERO
.hero {
  padding-top: 70px;
  padding-bottom: 60px;

  .container {
    max-width: 1000px;
    display: flex;

    .left {
      width: 60%;
      position: relative;
      padding-right: 25px;

      .logo {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: calc(100% - 150px);
      }

      .bg-logo {
        z-index: 0;
        position: absolute;

        img {
          filter: grayscale(100%);
          opacity: 0.15;
          transform: translate(-4px, 4px);
        }
      }

      img {
        width: 100%;
        height: 100%;
      }

    }

    .right {
      width: 40%;

      h2 {
        height: 100px;
        line-height: 1.3;
      }

      p {
        margin-bottom: 25px;
      }
    }

  }

  .buttons {
    margin-top: 50px;
    text-align: center;

    button {
      height: 40px;
      width: 120px;
      font-size: .85rem;
      outline: none;
      border: none;
      transition: .3s;
      cursor: pointer;

      &:hover {
        background-color: $primary-color-active;
        color: white;
      }
    }

    .more-btn {
      background-color: #fff;
      color: #cd5257;
      border: 1px solid #cd5257;
      margin-right: 20px;
    }

    .contact-btn {
      background-color: #cd5257;
      color: #fff;
    }
  }

  .red-circle-wrapper {
    width: 100%;
    height: 120vw;
    z-index: -1;
    overflow: hidden;
    position: absolute;
    top: 0;
  }

  .red-circle {
    position: absolute;
    width: 65vw;
    height: 65vw;
    max-height: 1300px;
    max-width: 1300px;
    z-index: -1;
    border-radius: 100%;
    background-color: $primary-color;
    top: -32vw;
    left: -10vw;

    @media screen and (min-width: 2070px) {
      left: calc(50vw - 1200px);
    }

    @media screen and (max-width: 1200px) {
      top: -20vw;
    }
  }
}

@media screen and (max-width: 824px) {
  .hero {
    padding-top: 30px;
    padding-bottom: 0;

    .container {
      display: block;

      .left {
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
        padding-right: 0;

        .logo {
          position: relative;
          width: 100%;
        }
      }

      .right {
        max-width: 300px;
        margin: 150px auto 0;
        width: 100%;

        h2 {
          height: unset;
          line-height: 1.3;
          margin-bottom: 35px;
        }

        p {
          margin-bottom: 25px;
        }
      }
    }

    .red-circle {
      left: -30vw;
      top: -105vw;
      width: 150vw;
      height: 150vw;
    }
  }
}

@media screen and (max-width: 665px) {
  .hero .red-circle {
    top: -92vw;
  }
}

@media screen and (max-width: 534px) {
  .hero .red-circle {
    top: -80vw;
  }
}

@media screen and (max-width: 384px) {
  .hero .red-circle {
    top: -55vw;
  }
}


.hero-color-block {
  position: absolute;
  height: 1250px;
  width: 100%;
  background-color: $hero-bg-color;
  z-index: -2;
  top: 0;
}

@import 'index_browser';

.news {
  border-top: 1px solid #ccc;
  margin-bottom: 70px;
  position: relative;

  .news-content {
    width: calc(100% - 50px);
    max-width: 750px;
    margin: 0 auto;
    font-size: 1.05rem;
    line-height: 1.8;
    text-align: center;
    height: 120px;

    @media screen and (max-width: 470px) {
      height: 250px;
      width: calc(100% - 75px);
    }
  }

  .news-date {
    margin-top: 40px;
    font-weight: bold;
    text-align: center;
    font-size: 0.85rem;
    color: $primary-color;
    letter-spacing: 0.133rem;
    text-transform: uppercase;
  }

  .news-controller {
    & > div {
      position: absolute;
      top: 0;
      padding: 180px 15px;

      &:hover {
        cursor: pointer;

        img {
          filter: grayscale(80%);
        }
      }

      &.hide:hover {
        cursor: default;

      }

      &.hide {
        opacity: 0;
      }
    }

    .prev-news {
      left: 0;
    }

    .next-news {
      right: 0;
    }

    img {
      height: 25px;
      filter: grayscale(100%);
      transition: .2s;
    }
  }
}

// FEATURES
.features {
  padding: 0 0 40px;

  .cards {
    display: flex;
    justify-content: space-between;
  }

  .card {
    border-radius: 0;
    margin: 0 25px;
    max-width: 300px;
    height: 400px;
    position: relative;

    img {
      border-radius: 0;
    }

    .content {
      padding-left: 10px;
    }

    .btn {
      position: absolute;
      bottom: 25px;
    }
  }
}

/* CREATORS */

.people {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.person {
  img {
    width: 150px;
    border-radius: 100%;
    margin-bottom: 35px;
  }

  .name {
    margin: 0;
    font-weight: bolder;
    text-align: center;
  }

  .info {
    font-style: italic;
    text-align: center;
    font-size: .8rem;
  }
}

/* QUOTES */

.quotes {
  //background-color: #cd5257;
  //background-color: $primary-color;
  text-align: center;
  //color: white;

  .section-title {
    padding-bottom: 12px;
  }

  .quotes-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 45px 0 75px;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .quote {
    width: calc(50% - 20px);
    margin: 30px 0;

    @media screen and (max-width: 991px) {
      width: 100%;
      max-width: 400px;
      margin: 20px auto;
    }

    $quote_box_color: #eee;

    .quote__box {
      background-color: $quote_box_color;
      padding: 30px 25px;
      color: black;
      margin-bottom: 30px;
      border-radius: 10px;
      position: relative;

      p {
        margin: 0;
      }

      $size: 10px;

      &::after {
        content: '';
        width: 0;
        height: 0;
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $quote_box_color;
        position: absolute;
        bottom: -$size;
        left: calc(50% - #{$size});
      }
    }

    .quote__img {
      display: none;
    }

    .quote__img img {
      width: 70px;
      display: block;
      margin: 0 auto;
      border-radius: 100%;
    }

    .quote__text {
      margin-top: 25px;

      p.quote__text__name {
        margin: 0;
        font-weight: bold;
      }

      p.quote__text__title {
        margin: 0;
        font-size: .8rem;
        font-style: italic;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .features .inner-container {
    margin: 0;
  }
}

@media screen and (max-width: 991px) {
  .hero {
    display: block;

    .right img {
      width: 100%;
    }
  }

  .features .card {
    margin: 0 5px;
  }

}


@media screen and (max-width: 767px) {
  .features .cards {
    margin: 0 5px;
    display: block;

    .card {
      width: 100%;
      margin: 25px auto;
    }
  }

  .people {
    margin-top: 0;
    display: block;
  }

  .person {
    max-width: 200px;
    margin: 25px auto;
    text-align: center;

    img {
      width: 125px;
      margin: 0 auto 10px;
    }

    .name {
      margin: 0;
      text-align: center;
    }

    .info {
      font-size: .7rem;
      text-align: center;
    }
  }
}
