/* Created by Mars on Jul 31 */
@import "global";
@import "header";
@import "footer";
@import "menu";
@import "animation";

@media screen and (max-width: 991.5px) {
  header .mobile-menu {
    margin-left: auto;

    .menu--btn__line {
      background-color: $primary-color;
    }

    @for $i from 1 through 3 {
      .menu--btn__line__select_#{$i} {
        background-color: #fff;
      }
    }
  }
}

.logo-header {
  background-color: unset;

  .container > a {
    display: none;
  }

  .menu {
    margin-left: auto;

    li {
      &:hover::after {
        border-bottom-color: $primary-color;
      }

      a {
        color: $primary-color;
      }
    }
  }

  transition: .4s;
  transition-timing-function: cubic-bezier(.65, 0, .29, .99);

  &.fixed {
    position: fixed;
    top: -100px;
    width: 100%;
    z-index: 100;
  }

  &.show {
    top: 0;
  }
}

@import 'index_hero';

@import 'index_browser';

.news {
  border-top: 1px solid #ccc;
  margin-bottom: 70px;
  position: relative;

  .news-content {
    width: calc(100% - 50px);
    max-width: 750px;
    margin: 0 auto;
    font-size: 1.05rem;
    line-height: 1.8;
    text-align: center;
    height: 120px;

    @media screen and (max-width: 470px) {
      height: 250px;
      width: calc(100% - 75px);
    }
  }

  .news-date {
    margin-top: 40px;
    font-weight: bold;
    text-align: center;
    font-size: 0.85rem;
    color: $primary-color;
    letter-spacing: 0.133rem;
    text-transform: uppercase;
  }

  .news-controller {
    & > div {
      position: absolute;
      top: 0;
      padding: 180px 15px;

      &:hover {
        cursor: pointer;

        img {
          filter: grayscale(80%);
        }
      }

      &.hide:hover {
        cursor: default;

      }

      &.hide {
        opacity: 0;
      }
    }

    .prev-news {
      left: 0;
    }

    .next-news {
      right: 0;
    }

    img {
      height: 25px;
      filter: grayscale(100%);
      transition: .2s;
    }
  }
}

/* FEATURES */
.features {
  padding: 0 0 40px;

  .cards {
    display: flex;
    justify-content: space-between;
  }

  .card {
    border-radius: 0;
    margin: 0 25px;
    max-width: 300px;
    height: 400px;
    position: relative;

    img {
      border-radius: 0;
    }

    .content {
      padding-left: 10px;
    }

    .btn {
      position: absolute;
      bottom: 25px;
    }
  }
}

/* CREATORS */

.people {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.person {
  img {
    width: 150px;
    border-radius: 100%;
    margin-bottom: 35px;
  }

  .name {
    margin: 0;
    font-weight: bolder;
    text-align: center;
  }

  .info {
    font-style: italic;
    text-align: center;
    font-size: .8rem;
  }
}

/* QUOTES */

.quotes {
  //background-color: #cd5257;
  //background-color: $primary-color;
  text-align: center;
  //color: white;

  .section-title {
    padding-bottom: 12px;
  }

  .quotes-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 45px 0 75px;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .quote {
    width: calc(50% - 20px);
    margin: 30px 0;

    @media screen and (max-width: 991.5px) {
      width: 100%;
      max-width: 400px;
      margin: 20px auto;
    }

    $quote_box_color: #eee;

    .quote__box {
      background-color: $quote_box_color;
      padding: 30px 25px;
      color: black;
      margin-bottom: 30px;
      border-radius: 10px;
      position: relative;

      p {
        margin: 0;
      }

      $size: 10px;

      &::after {
        content: '';
        width: 0;
        height: 0;
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $quote_box_color;
        position: absolute;
        bottom: -$size;
        left: calc(50% - #{$size});
      }
    }

    .quote__img {
      display: none;
    }

    .quote__img img {
      width: 70px;
      display: block;
      margin: 0 auto;
      border-radius: 100%;
    }

    .quote__text {
      margin-top: 25px;

      p.quote__text__name {
        margin: 0;
        font-weight: bold;
      }

      p.quote__text__title {
        margin: 0;
        font-size: .8rem;
        font-style: italic;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .features .inner-container {
    margin: 0;
  }
}

@media screen and (max-width: 991.5px) {
  .hero {
    display: block;

    .right img {
      width: 100%;
    }
  }

  .features .card {
    margin: 0 5px;
  }

}

@media screen and (max-width: 767.5px) {
  .features .cards {
    margin: 0 5px;
    display: block;

    .card {
      width: 100%;
      margin: 25px auto;
    }
  }

  .people {
    margin-top: 0;
    display: block;
  }

  .person {
    max-width: 200px;
    margin: 25px auto;
    text-align: center;

    img {
      width: 125px;
      margin: 0 auto 10px;
    }

    .name {
      margin: 0;
      text-align: center;
    }

    .info {
      font-size: .7rem;
      text-align: center;
    }
  }
}

.body-shade {
  overflow: hidden;
}

.card-wrapper {
  display: none;

  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);

  .contact-success-card {
    z-index: 1000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 290px;
    width: 400px;
    padding: 35px;
    background-color: #fff;
    border-radius: 5px;
    margin: auto;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2),
    0 12px 17px 2px rgba(0, 0, 0, .14),
    0 5px 22px 4px rgba(0, 0, 0, .12);

    h1 {
      margin-top: 7px;
      font-weight: 400;
    }

    p {
      padding-top: 13px;
    }

    button {
      font-weight: 500;
      letter-spacing: 0.1rem;
      margin-top: 20px;
      padding: 0 12px;
      height: 35px;
      outline: none;
      color: #b92228;
      border: 2px solid #b92228;
      box-shadow: none;
      border-radius: 4px;
      background-color: #fff;

      &:hover {
        background-color: transparentize($primary-color, 0.9);
      }
    }
  }
}