extends _syllabus_main

block main
    h2.form-title Course Information
    .form-group
        label.form-title.required(for='Location') Course Location
        .input-helper
            i Physical address or course-related URL
        input#Location.form-control(value='B13')
    .form-group
        label.form-title.required(for='Description') Course Description
        .input-helper
            i An expanded version of the description published in the University catalogue.
            i Describe the student audience for whom the course is appropriate.
        textarea#Description.form-control(rows='7') How to write a syllabus?
    .form-group
        label.form-title(for='OHTime') Office Hours Time
        .input-helper
            i General guideline: 1 weekly office hour for each 4 unit class taught
        input#OHTime.form-control(value='Drop-in at any time or appointment set up by email')
    .form-group
        label.form-title(for='CourseNotes') Course Notes
        .input-helper
            i Course Notes include important information on the course.
        textarea#CourseNotes.form-control(rows='7') Primary lectures will occur on Tuesdays and Thursdays.
    .form-group
        label.form-title(for='DescriptionAssignment') Description and Assessment of Assignments
        .input-helper
            i What kind of work is to be done and how should it be completed.
        textarea#DescriptionAssignment.form-control(rows='7')
    .form-group
        label.form-title(for='InstructorBio') About the Course Instructor(s)
        .input-helper
            i Please add any information about the instructors.
        textarea#InstructorBio.form-control(rows='7')

    script.
        const current_page = 'basic';
