extends _syllabus_main

block main
    h1.mdc-typography--headline3.title Generate Syllabus Documents
    h2 Completion Check
    #CheckResults
        ul
            li.good
                a(href='basic') Course Basics - Complete
            li.good
                a(href='instructors') Instructors - Complete
            li.good
                a(href='grading') Grading Breakdown - Complete
            li.good
                a(href='methods') Teaching & Assessment Methods - Complete
            li.good
                a(href='events') Course Schedule - Complete
    p#Complete.good Syllabus is completed.
    .form-section
        button.mdc-button.mdc-button--raised(id='gen-btn') Make pdf file
    #pdf-status(hidden='')
        p Please Wait While Program Generates Your Syllabus
        .mdc-linear-progress.mdc-linear-progress--indeterminate(role='progressbar')
            .mdc-linear-progress__buffering-dots
            .mdc-linear-progress__buffer
            .mdc-linear-progress__bar.mdc-linear-progress__primary-bar
                span.mdc-linear-progress__bar-inner
            .mdc-linear-progress__bar.mdc-linear-progress__secondary-bar
                span.mdc-linear-progress__bar-inner
    #gen-result(hidden='')
        p#Result.mdc-typography--body1.bold(style='color: green') Syllabus Successfully Generated
        .form-section
            a.mdc-button.mdc-button--dense.mdc-button--outlined(href='../files/syllabus-demo.pdf' target='_blank')
                | Download PDF

    style.
        ul li {
            margin: 24px 0;
            position: relative;
            list-style: none;
        }

        ul li a {
            color: inherit;
        }

        li.good {
            color: #585858;
        }

        li::before {
            font-family: 'Material Icons', sans-serif;
            display: inline-block;
            font-size: 28px;
            position: absolute;
            left: -35px;
            top: -10px;
            color: #585858;
        }

        li.good::before {
            content: 'done';
        }

        li.bad {
            color: var(--mdc-theme-primary);
        }

        li.bad::before {
            content: 'edit';
        }

        .buttons button {
            margin-right: 7px;
        }

        #Complete {
            margin-top: 30px;
        }

        #Complete.good::after {
            font-family: 'Material Icons', sans-serif;
            display: inline-block;
            content: 'mood';
            font-size: 28px;
            margin-left: 10px;
        }

        #Complete.bad::after {
            font-family: 'Material Icons', sans-serif;
            display: inline-block;
            content: 'sentiment_dissatisfied';
            font-size: 28px;
            margin-left: 10px;
        }

        #pdf-status {
            margin: 25px 0;
        }

        #gen-result button {
            margin-right: 20px;
        }
    script.
        const current_page = 'genpdf';

block buttons