extends _syllabus_main

block main
    h2.form-title Teaching Methods
    ol
        li
            h4 Teaching Methods
            ul
                .option: +checkbox('A0', 'Classroom lecture')
                .option: +checkbox('A1', 'Computer-based lecture', 'checked')
                .option: +checkbox('A2', 'Reading')
                .option: +checkbox('A3', 'Group Discussion')
                .option: +checkbox('A4', 'Lab')
        li
            h4 Assessment Methods
            ul
                .option: +checkbox('B0', 'Multiple choice examination')
                .option: +checkbox('B1', 'Short answer examination', 'checked')
                .option: +checkbox('B2', 'Essay', 'checked')
                .option: +checkbox('B3', 'In class quizzes')

    script.
        const current_page = 'methods';