extends _main

block title
    | Contact |

block style
    link(rel='stylesheet', href='style/contact.css')

block content
    .container.main
        .left-div
            h1 Contact Us
            //-p.small.text-danger CURRENTLY UNDER MAINTENANCE
            //-p.small.text-danger Send us an email at aardvarc@usc.edu
            p Let's talk about everything!
            ul.actions
                li
                    img(src='img/contact-demo.svg', alt='demo icon')
                    | Request a demo
                li
                    img(src='img/contact-question.svg', alt='question icon')
                    | Ask questions
                li
                    img(src='img/contact-meeting.svg', alt='meeting icon')
                    | Arrange for a meeting
        .right-div
            h3#wait(style='display: none') Please wait a few seconds...
            form#contact-form(method='post', action='https://app.acadoinformatics.com/api/email', onsubmit="return validate()")
                h3 Say Hello!
                .line.two
                    .left
                        label.required(for='name') Name
                        input#name(name='name', required)
                    .right
                        label.required(for='org') Institution/Department
                        input#org(name='org', required)
                .line.two
                    .left
                        label.required(for='email') Email
                        input#email(name='email', type='email' required)
                    .right
                        label(for='phone') Phone
                        input#phone(name='phone')
                .line.full
                    label.required(for='phone') Title
                    input#title(name='title')
                .line.full
                    label.required(for='msg') Message
                    textarea#msg(name='msg', rows='7', required)
                .line.full
                    div(name='recaptcha-token' class='g-recaptcha', data-sitekey='6LchhqEUAAAAAMKBy82KyHD0h9bW4cpcMXRsrFHQ')
                .line.full
                    button.btn.btn-fill(id='submit' type='submit' name='submit') SUBMIT

block contact
block append script
    script(src='https://www.google.com/recaptcha/api.js')
    script.
      function validate() {
        const val = $('#msg').val();
        if (val.includes('http')) return false;
        if (/[а-яА-ЯЁё]/.test(val)) return false;
        $('#submit').attr('disabled', true);
        $('form').fadeOut(function () {
          $('#wait').fadeIn();
        });
        return true;
      }
