- const name = 'AARDVARC<sup>&copy;</sup>'
doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        base(href='/aardvarc/')
        // Global site tag (gtag.js) - Google Analytics
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-126098284-1')
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag() {
            dataLayer.push(arguments);
          }
          gtag('js', new Date());
          gtag('config', 'UA-126098284-1');
        // Bootstrap CSS
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
        block style
        link(rel='stylesheet', href='https://use.typekit.net/pvw6fiz.css')
        title
            block title
            |
            | AARDVARC &copy;

    body
        header.usc-header
            .container
                a(href='http://usc.edu' target='_blank' rel='noreferrer')
                    img(src='img/usc-logo.png' alt='usc logo')
                    //img(src='img/usc-logo-white.png' alt='usc logo')
        header.logo-header
            .container
                a(href='index')
                    .logo-div
                        img(src='img/logo-white.svg' alt='aardvarc logo')
                        p
                            | Automated Approach to Reviewing and Developing Valuable Assessment Resources for your Curriculum
                .menu
                    ul
                        li: a(href='story') Story
                        li: a(href='faq') FAQ
                        li: a(href='about') About
                        li: a(href='contact') Contact
                        li: a(href='demo' target='_blank') Demo

                .mobile-menu: .menu--btn
                    .menu--btn__line
                    .menu--btn__line
                    .menu--btn__line

            .menu--items
                .menu--item.container: ul
                    li: a(href='index')
                        span Home
                        span Syllabus, Management, Report
                    li: a(href='index')
                        span Story
                        span The story of !{name}
                    li: a(href='faq')
                        span FAQ
                        span Get Answered
                    li: a(href='about')
                        span About
                        span Our Story
                    li: a(href='contact')
                        span Contact
                        span Ask us Anything
                    li: a(href='demo' target='_blank')
                        span Demo
                        span A Quick Demo

        block content
        block contact
            .contact.container
                .inner-container.flex-box
                    h3 Get Started
                    p Interested in a Demo? Have questions? Let’s arrange a meeting.
                    div.button-div: button.btn.btn-fill(type='button', onclick='location.href="contact"') CONTACT US
        footer
            .container
                .logos
                    .left.logo-div
                        img(src='img/logo-red.svg' alt='AARDVARC LOGO')
                        p
                            | Automated Approach to Reviewing and Developing Valuable Assessment Resources for your Curriculum
                    .right
                        img(src='img/aca-logo.png' alt='ACADOINFORMATICS logo')
                .copyright
                    p Developed at the University of Southern California School of Pharmacy.
                    p !{name} is a product of ACADOINFORMATICS. Copyright !{name} 2019. All rights reserved.

        block script
            script(src='lib/jquery.min.js')
            //-script(src='lib/jquery-ui.min.js')
            //-script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
            //-script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
            script.
              console.log('Mars Inc. 2019.');
            script(src='js/menu.min.js')
