extends _main
block style
    link(rel='stylesheet', href='css/about.css')

block content
    .hero
        h1 About Us
    .wrapper
        .creators.container
            h2.section-title Creators
            .people.inner-container
                .person
                    img.avatar(src='img/lan.jpg')
                    p.name Ian Haworth, PhD
                    p.info Associate Professor
                .person
                    img.avatar(src='img/maryann.jpg')
                    p.name Maryann Wu, EdD
                    p.info Assistant Dean for Assessment
                .person
                    img.avatar(src='img/dab.jpg')
                    p.name Dab Brill, PhD
                    p.info Computer Programmer
                .person
                    img.avatar(src='img/team-aileen.jpg')
                    p.name Aileen Li
                    p.info Curriculum and Assessment Support Specialist
                    // <p class="info">BA in Communication; MS in Integrated Design, Business and Technology Candidate</p>
                .person
                    img.avatar(src='img/team-mukesh.jpg')
                    p.name Mukesh Poptani
                    p.info Back-end Developer
                    // <p class="info">BE in Computer Engineering; MS in Computer Science Candidate</p>
                .person
                    img.avatar(src='img/team-mrunmayee.jpg')
                    p.name Mrunmayee Shirodkar
                    p.info Data Analyst
                    // <p class="info">BE in Information Technology; MS in Computer Science (Data Science) Candidate</p>
                .person
                    img.avatar(src='img/team-mars.jpg')
                    p.name Mars Tan
                    p.info Front-end Developer
                    // <p class="info">BS in Arts, Technology and the Business of Innovation Candidate</p>
    .contact.container
        .inner-container
            h3 Interested in a Demo?
            button.btn.btn-fill(type='button', onclick='contact();') CONTACT US
