extends _main
block title
    | About |
block style
    link(rel='stylesheet', href='css/about.css')

block content
    .creators.container
        h2.section-title Creators
        .people.inner-container
            .person
                img.avatar(src='img/lan.jpg' alt='lan')
                p.name Ian Haworth, PhD
                p.info Vice Chair and Associate Professor
                p.info Pharmacology and Pharmaceutical Sciences
            .person
                img.avatar(src='img/maryann.jpg' alt='maryann')
                p.name Maryann Wu, EdD
                p.info Assistant Dean for Assessment
                p.info Assistant Professor of Clinical Pharmacy
            .person
                img.avatar(src='img/team-mrunmayee.jpg' alt='mrunmayee')
                p.name Mrunmayee Shirodkar
                p.info Lead Developer/Data Analyst
            .person
                img.avatar(src='img/dab.jpg' alt='dab')
                p.name Dab Brill, PhD
                p.info Lead Developer
            .person
                img.avatar(src='img/team-ying.png' alt='ying')
                p.name Ying Wang, PharmD, APh
                p.info Director of Experiential Programs
                p.info Assistant Professor of Clinical Pharmacy
            .person
                img.avatar(src='img/team-mars.jpg' alt='mars')
                p.name Mars Tan
                p.info Frontend Developer
            .person
                img.avatar(src='img/team-yijun.jpg' alt='yijun')
                p.name Yijun (Jimmy) Gan
                p.info Full Stack Web Developer and Tester
    .creators.container
        h2.section-title Alumni Team Members
        .people.inner-container
            .person
                img.avatar(src='img/team-aileen.jpg' alt='aileen')
                p.name Aileen Li
                p.info Curriculum and Assessment Support Specialist
            .person
                img.avatar(src='img/team-mukesh.jpg' alt='mukesh')
                p.name Mukesh Poptani
                p.info Backend Developer
            .person
                img.avatar(src='img/team-ravi.jpg' alt='ravi')
                p.name Ravi Adkathimar
                p.info Backend Developer and Tester