- const name = 'AARDVARC<sup>&copy;</sup>'
doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        base(href='/aardvarc/')
        title AARDVARC LOGO
        style.
            * {
                font-family: sans-serif;
                box-sizing: border-box;
                text-align: center;
            }

            img {
                width: 100%;
                max-width: 1024px;
                margin: 0 auto;
                display: block;
            }

            .info p {
                margin: 0;
            }


    body
        h1 AARDVARC&copy; LOGO DESIGN

        img(src='logo/logo-v3.png')
        .info
            p Shield - Version 3
            p May 15, 2019
        img(src='logo/logo-v4.png')
        .info
            p Shield - Version 4
            p May 15, 2019
        img(src='logo/logo-v1.png')
        .info
            p Shield - Version 1
            p Aug 31, 2018
        img(src='logo/logo-v2.png')
        .info
            p Rounded Shield
            p Aug 30, 2018
